<div>
  <h2>THÊM MỚI PHÒNG</h2>
  <div *ngIf="errorFrom">
    <h4 style="color: red;">Vui lòng nhập đầy đủ các trường !</h4>
  </div>
  <form [formGroup]="roomForm" (ngSubmit)="addRoom()">
    <!-- 2 Cột  -->
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Tên Phòng: (<span style="color: red;">*</span>)
          </label> <input  type="text" formControlName="name"
            placeholder="Tên Phòng..." class="form-control"
            required="required" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Đơn vị tính: (<span style="color: red;">*</span>)
          </label> <select class="form-control" formControlName="dvt">
            <option value="" selected="selected">Chọn Đvt....</option>
            <option value="Giờ" selected>Giờ</option>
            <option value="Ngày">Ngày</option>
            <option value="Tháng">Tháng</option>
            </select>
        </div>
      </div>
    </div>
    <br>
    <!-- 2 Cột  -->
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Giá: (<span style="color: red;">*</span>)
          </label> <input type="number" step="5000" min="0" formControlName="price"
             placeholder="Giá...." size="12"
            maxlength="13" class="form-control" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Trạng Thái: (<span style="color: red;">*</span>)
          </label> <select class="form-control" formControlName="status">
            <option value="" selected="selected">Chọn Trạng Thái....</option>
            <option value="true" selected>Đang Hoạt Động</option>
            <option value="false">Không Hoạt Động</option>
          </select>
        </div>
      </div>

    </div>
    <br>
    <br>

    <!-- <pre>{{roomForm.value|json}}</pre> -->
    <div class="text-center">
      <button type="submit"
        class="btn btn-info btn-fill pull-center">Thêm
        Phòng</button>
    </div>

    <div class="clearfix"></div>
    <hr>
    <div style="text-align: center;">
      <a routerLink="/room/list-room" type="submit">Quay Lại</a>
    </div>
    <div class="clearfix"></div>
  </form>


</div>
