
<div class="login-page">
  <div class="login-main">
     <div class="login-head">
      <h1>Login</h1>
    </div>
    <div class="login-block">
      <form [formGroup]="formGroup" (ngSubmit)="loginProces()" >
        <!-- 2 input -->

        <div class="alert alert-info" role="alert" *ngIf="isLoginError">
          <strong>Đăng nhập</strong> thất bại. Vui lòng thử lại !!!
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="isLogin">
          Vui lòng nhập <strong>username & password</strong>  !
        </div>
        <input type="text" formControlName="username" placeholder="Username" >
        <input type="password" formControlName="password" class="lock" placeholder="Password">

        <div class="forgot-top-grids">
          <div class="forgot-grid">
            <ul>
              <li>
                <input type="checkbox" id="brand1" value="">
                <label for="brand1"><span></span>Remember me</label>
              </li>
            </ul>
          </div>
          <div class="forgot">
            <a href="#">Forgot password?</a>
          </div>
          <div class="clearfix"> </div>
        </div>
        <input type="submit" value="Login">
        <h3>Not a member?<a href="signup.html"> Sign up now</a></h3>
        <h2>or login with</h2>

      </form>

    </div>
    </div>
</div>
