
<div class="page-container">
  <div class="left-content">
    <div class="mother-grid-inner">

       <div class="header-main fixed">
         <div class="header-left">
             <div class="logo-name">
                 <h1>Karaoke</h1>

             </div>

               <div class="search-box">
                 <form>
                   <input type="text" placeholder="Search..." required="">
                   <input type="submit" value="">
                 </form>
               </div><!--//end-search-box-->
             <div class="clearfix"> </div>
            </div>
            <div class="header-right">
              <div class="profile_details">
                         <div class="profile_img">
                           <span class="prfil-img"><img style="width: 50px; height: 50px;" src="./assets/images/user-icon.jpg" alt=""> </span>
                           <div class="user-name" *ngIf="detailUser">
                             <p style="margin: 0;">{{detailUser.username}}</p>
                             <span>{{detailUser.role}}</span>
                           </div>


                         </div>

                 </div>
                 <div class="logout-item">
                   <button class="btn btn-link" (click)="logout()">

                    <span>Log-out </span><br>
                    <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
                   </button>

                </div>
           </div>

       </div>

<div class="inner-block">
   <div class="blank">
     <div class="blankpage-main">
      <router-outlet></router-outlet>
     </div>
   </div>
</div>

<div class="copyrights">
  <p>© 2016 Shoppy. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
</div>

</div>
</div>
<!--slider menu-->
   <div class="sidebar-menu">
       <div class="logo"> <span class="sidebar-icon"> <span class="fa fa-bars"></span> </span>  </div>
       <div class="menu">
         <ul id="menu" >
           <li id="menu-home" ><a><i class="fa fa-tachometer"></i><span>Dashboard</span></a></li>
           <li><a style="text-decoration: none;" routerLink="/room/list-room"><i class="fa fa-cogs"></i><span>Quản Lý Phòng</span></a>
            <!-- <span class="fa fa-angle-right" style="float: right"></span> -->
             <!-- <ul>
               <li><a href="/room/list-room">List Phòng</a></li>
               <li><a href="/room/add-room">Thêm Phòng</a></li>
             </ul> -->
           </li>


         </ul>
       </div>
  </div>

</div>

