<!-- <style>
  .noidung{
    width:70%;
    margin: 0 auto;
    padding-top: 100px;
  }
  .img{
    width: 80px;
    height: 80px;
    border-radius: 40%;
  }
</style> -->
<div class="noidung">

  <div class="row">
    <div class="col-md-6">
      <h2>Danh Sách Phòng</h2>
    </div>
    <div class="col-md-6" style="text-align: right; color:black; ">
        <a routerLink="/room/add-room">
        <button class="btn btn-success" > Thêm Mới Phòng</button>
    </a>
  </div>

  </div>

  <!-- <br> -->

  <table id="table_id" class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Tên Phòng</th>
        <th scope="col">Giá</th>
        <th scope="col">Đơn vị tính</th>
        <th scope="col">Trạng thái</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of listRooms; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{list.name}}</td>
        <td>{{list.price}}</td>
        <td>{{list.dvt}}</td>
        <td>{{list.status ? 'Đang Hoạt Động': 'Không Hoạt Động'}}</td>

        <td>

            <button class="btn btn-primary"  data-toggle="modal" data-target="#exampleModalCenter" (click)="editRoom(list.id)">Edit</button>
            ||
            <button class="btn btn-danger" (click)="deleteRoom(list.id)">Delete</button>


        </td>

      </tr>


    </tbody>
  </table>
</div>


<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Sửa Phòng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action=""  method="POST" [formGroup]="roomForm" (ngSubmit)="updateRoom()" *ngIf="Room" >
          <input type="hidden" [(ngModel)]="Room.id" formControlName="id"  />
          <input type="hidden" [(ngModel)]="Room.images" formControlName="images"  />

            <!-- 2 Cột  -->
            <div class="row" >
              <div class="col-md-6">
                <div class="form-group">
                  <label>Tên Phòng: (<span style="color: red;">*</span>)
                  </label> <input  type="text" [(ngModel)]="Room.name" formControlName="name" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Giá Tiền: (<span style="color: red;">*</span>)
                  </label> <input type="number" [(ngModel)]="Room.price" formControlName="price" step="5000" min="0"
                    maxlength="13" class="form-control" />
                </div>
              </div>
            </div>

            <!-- 2 Cột  -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Đơn vị tính: (<span style="color: red;">*</span>)
                  </label> <input type="text" [(ngModel)]="Room.dvt" formControlName="dvt" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Trạng Thái: (<span style="color: red;">*</span>)
                  </label>
                  <select class="form-control"  [(ngModel)]="Room.status" formControlName="status" >
                      <option value="true" style="color:blue;">Đang Hoạt Động</option>
                      <option value="false" style="color:red;">Không Hoạt Động</option>
                  </select>
                </div>
              </div>
              <!-- <pre>{{roomForm.value|json}}</pre> -->
            </div>
            <br>
            <div class="text-center">
              <button type="submit"
                class="btn btn-info btn-fill pull-center">Sửa Phòng</button>
            </div>

            <div class="clearfix"></div>

          </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
